@media screen and (max-width:900px) {


    #leftbar {
        font-size: 10px;
        width: 100%;
        display: none;
        height: 100%;
    }

    #bar {
        display: block;
        margin: 0px;
        font-size: 10px;
        background-color: white;
        padding: 10px;
        color: darkcyan;
        border-radius: 4px;
        margin: 12px;
    }


    .menu ul {
        width: 100%;
        overflow: hidden;
    }

    .photo img {
        width: 70%;
    }

    #closebtn {
        display: none;
        color: black;
        font-size: 35px;
        position: fixed;
        margin-left: 15px;
    }

    a {
        text-decoration: none;
    }

    .menu {
        padding: 40px 0px;
    }

    li a {
        font-size: 17px;
    }

    #rightbar {
        width: 100%;
        position: static;

    }

    .Interest li {
        font-size: 13px;
    }

    .left1 p {
        font-size: 12px;
    }

    .container {
        width: 92%;
    }
}

@media screen and (max-width:768px) {

    .left1 p {
        padding: 5px;
    }

    .left1 h1 {
        font-size: 26px;
    }
}


@media screen and (max-width:520px) {
    .photo h1 {
        font-size: 15px;
        padding: 7px;
    }

    li a {
        font-size: 14px;
    }

    .main-icon i {
        padding: 7px;
        margin-left: 6px;
    }

    .main-right {
        padding-top: 120px;
    }

    .left img {
        position: absolute;
        width: 200px;
    }

    .left1 {
        position: relative;
        background-color: #202024a3;
        padding: 10px;
        border-radius: 5px;
    }

    .right1 img {
        position: static;
        width: 200px;
    }

    .right {
        position: absolute;
        background-color: #202024a3;
        padding: 10px;
        border-radius: 5px;
        width: 78%;
        /* height: 280px; */
        left: 20px;
    }

    .box {
        width: 100%;
    }

    .fa-brands {
        font-weight: 400;
        margin-right: 10px
    }

    .work-box4{
        height: 150px;
    }

    .work-box3{
        height: 150px;
    }

    .work-box2{
        height: 150px;
    }

    .work-box{
        height: 150px;
    }

    .main-icon{
        display: grid;
    }

    #search{
        margin-top: 20px;
    }
}